body{
    background-color: aqua;
    line-height: 2;
    /* color: aliceblue; */
    font-weight: 800;

}

.h0{
    /* text-align: end; */
}

.h1{
      background-color: rgb(231, 59, 88);
      border-radius: 2rem;
      text-align: center;
}


.first{
    background-color: rgb(32, 46, 243);
    border-radius: 2rem;
    color: rgb(243, 250, 250);
        
}

.h5{
    text-align: center;
    border-radius: 2rem;
    background-color: burlywood;
    color: white;
}

.sixth{
    background-color: chartreuse;
    text-align: center;
    border-radius: 2rem;
}

.second{
    background-color: rgb(238, 32, 228);
    border-radius: 2rem;
    color: whitesmoke
}

.third{
    background-color:tomato ;
    border-radius: 1rem;
    text-align: center;
}

.fourth{
    background-color: rgb(240, 30, 153);
    border-radius: 2rem;
    text-align: center;
}

.fifth{
    background-color: rgb(246, 82, 252);
    border-radius: 2rem;
}